main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;
}

app-square {
  border: 1px gray solid;
  height: 100px;
}

@media only screen and (min-width: 640px) {
  main {
    grid-template-columns: 200px 200px 200px;
  }

  app-square {
    height: 200px;
  }
}
